@import url(../CSS/style.css);
@import url(../CSS/shop.css);

#header-web {
    margin-block-start: 0;
}

#hero-section {
    margin-block-start: 13%;
}

.title-products {
    text-align: center;
    margin: 0;
}

#blogs{
    margin-block-start: 10px;
}

.blogs {
    display: none;
}

.blogs.active {
    display: flex;
}

@media (min-width: 768px) {

    #hero-section {
        margin-block-start: 8%;
    }
}

@media(min-width: 1024px){

    #hero-section {
        margin-block-start: 5%;
    }
}

@media(min-width: 1440px) {
    .items-blogs {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}