@import url(./product-detail.css);

header{
    margin: 0;
}

.off-product {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.title-tel {
    font-weight: 600;
    margin: 0;
}

.tel {
    background: silver;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-call {
    width: 20%;
}

.specifications {
    margin-block-start: 25px;
}

.imgs-product {
    margin-block-start: 15%;
    width: 100%;
}

.imgTitle-product{
        object-fit: cover;
        width: auto;
        max-width: 99%;
    }

.opinions {
    flex-direction: column;
    row-gap: 10px;
}

.opinion {
    width: 100%;
    height: 100px;
}

.img-user {
    width: 10%;
}

.description {
    font-size: .8rem;
    font-weight: 600;
}

#next{
    right: 15px;
}

#previous{
    left: 15px;
}

@media(min-width: 560px)and (max-width: 767px){
    .opinions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
}

@media (min-width: 768px) {
    .tel {
        margin-inline-end: 10px;
    }

    .icon-call {
        width: 20%;
    }

    .opinions{
        flex-direction: row;
    }

    .img-user {
        width: 15%;
    }

    .imgTitle-product{
        object-fit: cover;
        width: auto;
        max-width: 99%;
    }

    .imgs-product{
        height: 400px;
        margin-block-start: 8%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    
    .imgs-product{
        margin-block-start: 5%;
        height: 400px;
        
    }
}

@media (min-width: 1440px) {
    #next, #previous {
        font-size: 1.5rem;
        padding: 8px;
        margin: 0;
    }

    .off-product, .sale-price {
        font-size: 1.4rem;
    }

    .title-tel {
        font-size: 1.4rem;
    }

    .btns {
        margin: 20px 0;
    }

    #nextBtn, #prevBtn {
        font-size: 1.2rem;
        margin: 0 5px;
    }

    .imgs-product{
        margin-block-start: 5%;
        height: 500px;
        width: 75%;
    }
}