@import url(./style.css);

body {
    display: flex;
    justify-content: center;
}

#product {
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    margin-inline-start: 5px;
}

.products-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.product-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: auto;
}

.img-product {
    width: 130px;
    height: 120px;
    margin: 0;
    display: flex;
    align-self: center;
}

.btn-cart {
    display: flex;
    align-items: center;
    margin-block-end: 5px;
    justify-content: center;
    margin: 0 5px 5px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    height: 30px;
}

.btn-add, .btn-delete {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
    height: 100%;
    width: 50%;
    border: none;
    margin: 0 10px;
    transition: all 1s ease-out;
    background: none;

    &:hover {
        background: linear-gradient(240deg, rgb(139, 139, 139), rgb(218, 218, 218), rgb(139, 139, 139));
        animation: none;
        transition: none;
        transform: none;
    }
}

.btn-delete {
    background: none;

    &:hover {
        border-radius: 15px;
    }
}

.item {
    display: flex;
    flex-direction: column;
}

.icon-basket {
    width: 80%;
    border-radius: 15px;
}

.items-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.sale-price {
    font-size: 0.9rem;
}

.sum-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-weight: 600;
}

.link-checkoutForm {
    display: flex;
    justify-self: center;
    margin-block-end: 10px;
    text-decoration: none;
    background: #b9b9b9;
    color: black;
    padding: 8px 12px;
    border-radius: 15px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:hover {
        color: white;
        background: #979797;
        transition: all 0.3s ease-in-out;
    }
}

#checkout, .item-form {
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 0 10px;
}

#checkout {
    background-color: rgb(238, 238, 238);
    width: 80%;
    position: fixed;
    margin-block-start: 15px;
    border-radius: 15px;
}

.display-flex, .item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-checkout {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    min-width: 60%;
    max-width: 80%;
    justify-self: center;
}

label {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

#label-fullname, #label-phone, #label-address, #label-postalCode {
    position: absolute;
    top: 5px;
    right: 25px;
    transition: all 0.3s ease-in-out;
}

#label-fullname {
    top: -11px;
}

#postalCode, #phone, #fullname, #address {
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
    padding: 5px 18px;
    margin-inline-start: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background: white !important;
    justify-self: center;


    &:focus {
        border: 1px solid blue;
        transition: all 0.3s ease-in-out;
    }
}

#phone, #address, #postalCode {
    margin: 15px 10px 0 0;
}

#fullname:autofill, #phone:autofill, #address:autofill, #postalCode:autofill {
    transition: background-color 9999s ease-in-out 0s !important;
}

#fullname:focus~#label-fullname,
#fullname:not(:placeholder-shown)~#label-fullname,
#phone:focus~#label-phone,
#phone:not(:placeholder-shown)~#label-phone,
#address:focus~#label-address,
#address:not(:placeholder-shown)~#label-address,
#postalCode:focus~#label-postalCode,
#postalCode:not(:placeholder-shown)~#label-postalCode {
    background:  linear-gradient(rgb(238, 238, 238) , white);
    top: -10px;
    right: 25px;
    font-size: 0.8rem;
    padding: 0 2px;
    transition: all 0.3s ease-in-out;
}

#fullname:focus~#label-fullname,
#fullname:not(:placeholder-shown)~#label-fullname {
    top: -25px;
}

select, option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 3px 5px;
}

select {
    margin-inline-start: 10px;
}

.payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paymentMethod1, #paymentMethod2 {
    accent-color: green;
}

#paymentMethod2 {
    margin: 0 10px 0 5px;
}

.oder-registration, .close-registration {
    display: flex;
    justify-self: center;
    padding: 5px 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    box-shadow: 1px 1px 5px #616161;
    transition: border, box-shadow, transform 0.7s ease-in-out;

    &:hover {
        border: 1px 1px #cccccc;
        box-shadow: 2px 2px 5px black;
        transition: all 0.4s ease-in-out;
        transform: translateY(-3px);
    }
}

.oder-registration {
    margin-block-start: 15px;
}

.display-none {
    display: none;
}

@media(min-width: 768px) {
    .product-cart {
        height: 150px;
    }

    .products-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5px;
    }

    .title {
        margin-inline-start: 80px;
    }

    .sum-price {
        justify-content: space-around;
    }

    #checkout {
        width: 55%;
    }
}

@media(min-width: 1024px) {
    .products-cart {
        display: flex;
        align-items: center;
    }

    .title {
        margin-inline-start: 60px;
    }
}

@media(min-width: 1440px) {
    .title {
        margin-inline-start: 70px;
    }

    .sum-price {
        font-size: 1.2rem;
    }

    .link-checkoutForm {
        font-size: 1.2rem;
    }

    .product-cart {
        min-height: 175px;
    }

}