@import url(./style.css);
header {
    margin-block-start: 0%;
}

#hero-section{
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.search-wrapper{
    right: 0;
}

#product {
    margin-block-start: 5px;
}

.product-page{
    display: none;
}

.product-page.active{
    display: flex;
    justify-content: center;
}

.img-product {
    height: 150px
}

.title-products {
    margin-block-start: 13%;
    text-align: center;
}

.price-cart {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.sale-price {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    margin-block-end: 5px;
}

.item-regular {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.off {
    margin: 0;
    margin-inline-end: 5px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
}

.regular-price {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    text-decoration: line-through;
    text-decoration-color: red;
}

#pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.link-item {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-page {
    text-decoration: none;
    margin: 0 5px;
    width: auto;
    padding: 5px;
    text-align: center;
    color: black;
    border: none;
}

.link-page.active{
    background: linear-gradient(45deg, #e6e6e6, #b3b3b3);
}

.next-page, .previous-page {
    text-align: center;
    font-weight: 600;
    background: linear-gradient(#979797, #616161);
    border: none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    color: white;
    width: 10%;
    margin: 0 5px;

    &:hover {
        transform: translateX(2px) scaleX(1.1);
        transition: all 0.3s ease-in-out;
    }
}

.previous-page:hover {
    transform: translateX(-2px) scaleX(1.1);
}

footer{
    width: 100%;
}

@media(min-width: 375px) {
    .img-product {
        height: 180px
    }
}

@media(min-width: 550px){
    .search-wrapper{
        width: 50%;
    }

    .products-cart{
        grid-template-columns: repeat(3, minmax(180px , 250px));
        column-gap: 4px;
    }
}

@media (min-width: 768px) {

    .products-cart {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: auto;
    }

    .title-products {
        margin-block-start: 8%;
    }

    .img-product {
        height: 220px;
    }

    .next-page, .previous-page {
        width: 5%;
    }
}

@media (min-width: 1024px) {

    .products-cart {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }

    .title-products {
        margin-block-start: 6%;
    }
}

@media (min-width: 1440px) {
    .search-wrapper {
        width: 35%;
    }

    .search-input {
        padding: 14px 10px;
    }

    .search-btn {
        padding: 10px 25px;
    }

    .title-products {
        font-size: 1.8rem;
    }

    .img-product {
        height: 300px;
    }

    .sale-price, .regular-price, .product-rating, .name-products {
        font-size: 1.4rem;
    }

    .off {
        font-size: 1.2rem;
    }

    .next-page, .previous-page {
        font-size: 1.2rem;
        padding: 10px;
    }

    .link-page {
        font-size: 1.3rem;
    }

}